<?xml version="1.0" encoding="UTF-8"?>
<element>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>bankapp_v2</display-name>
  <welcome-file-list>
   
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>EmployeeLoginSuccess</display-name>
    <servlet-name>EmployeeLoginSuccess</servlet-name>
    <servlet-class>com.bank.controller.EmployeeLoginSuccess</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeLoginSuccess</servlet-name>
    <url-pattern>/success</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmployeeLogout</display-name>
    <servlet-name>EmployeeLogout</servlet-name>
    <servlet-class>com.bank.controller.EmployeeLogout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeLogout</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerRegister</display-name>
    <servlet-name>CustomerRegister</servlet-name>
    <servlet-class>com.bank.controller.CustomerRegister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerRegister</servlet-name>
    <url-pattern>/customerregister</url-pattern>
    <url-pattern>/customerregister1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerLogin</display-name>
    <servlet-name>CustomerLogin</servlet-name>
    <servlet-class>com.bank.controller.CustomerLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerLogin</servlet-name>
    <url-pattern>/customerlogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CutomerLogout</display-name>
    <servlet-name>CutomerLogout</servlet-name>
    <servlet-class>com.bank.controller.CutomerLogout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CutomerLogout</servlet-name>
    <url-pattern>/customerlogout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerOpenAccount</display-name>
    <servlet-name>CustomerOpenAccount</servlet-name>
    <servlet-class>com.bank.controller.CustomerOpenAccount</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerOpenAccount</servlet-name>
    <url-pattern>/customeropenaccount</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DepositController</display-name>
    <servlet-name>DepositController</servlet-name>
    <servlet-class>com.bank.controller.DepositController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DepositController</servlet-name>
    <url-pattern>/deposit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewCustomerDetails</display-name>
    <servlet-name>ViewCustomerDetails</servlet-name>
    <servlet-class>com.bank.controller.ViewCustomerDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewCustomerDetails</servlet-name>
    <url-pattern>/viewcustomerdetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerCrud</display-name>
    <servlet-name>CustomerCrud</servlet-name>
    <servlet-class>com.bank.controller.CustomerCrud</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerCrud</servlet-name>
    <url-pattern>/customercrud</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewStatements</display-name>
    <servlet-name>ViewStatements</servlet-name>
    <servlet-class>com.bank.controller.ViewStatements</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewStatements</servlet-name>
    <url-pattern>/viewstatements</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WithdrawController</display-name>
    <servlet-name>WithdrawController</servlet-name>
    <servlet-class>com.bank.controller.WithdrawController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WithdrawController</servlet-name>
    <url-pattern>/withdraw</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TransferConstroller</display-name>
    <servlet-name>TransferConstroller</servlet-name>
    <servlet-class>com.bank.controller.TransferConstroller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TransferConstroller</servlet-name>
    <url-pattern>/transfer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmployeeLogin</display-name>
    <servlet-name>EmployeeLogin</servlet-name>
    <servlet-class>com.bank.controller.EmployeeLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeLogin</servlet-name>
    <url-pattern>/employeelogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewTransactionByUsername</display-name>
    <servlet-name>ViewTransactionByUsername</servlet-name>
    <servlet-class>com.bank.controller.ViewTransactionByUsername</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewTransactionByUsername</servlet-name>
    <url-pattern>/viewtrasactiondetails</url-pattern>
  </servlet-mapping>
</web-app>
</element>